@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500);

@import url("sections/header.css");
@import url("sections/footer.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh; 
  display: flex; 
  flex-direction: column; 
}

.shopping-cart {
  max-width: 1280px;
  margin: 40px auto;
  background-color: var(--color-creamson);
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 18px;
  font-weight: 400;
  font-family: var(--plus-jakarta-sans);
  color: var(--primary-color);
  padding: 20px 30px;
  border-bottom: 1px solid var(--gray-100);
}

.item {
  padding: 20px 30px;
  display: flex;
}

.item:nth-child(3) {
  border-top: 1px solid var(--gray-100);
  border-bottom: 1px solid var(--gray-100);
}

/* Buttons -  Delete*/
.buttons {
  position: relative;
  padding-top: 30px;
  margin-right: 60px;
}

.delete-btn {
  display: inline-block;
  cursor: pointer;
  width: 18px;
  height: 17px;
  background: url("../assets/delete-icn.svg") no-repeat center;
  margin-right: 20px;
}

@keyframes animate {
  0%   { background-position: left;  }
  50%  { background-position: right; }
  100% { background-position: right; }
}

/* Product Image */
.image {
  margin-right: 50px;
}

/* Product Description */
.description {
  padding-top: 10px;
  margin-right: 60px;
  width: 115px;
}

.description span {
  display: block;
  font-size: 14px;
  color: var(--black-400);
  font-weight: 400;
}

.description span:first-child {
  margin-bottom: 5px;
}
.description span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: var(--gray-100);
}

/* Product Quantity */
.quantity {
  padding-top: 20px;
  margin-right: 60px;
}
.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: var(--black-400);
  font-weight: 300;
}

button[class*=btn] {
  width: 30px;
  height: 30px;
  background-color: var(--gray-100);
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.minus-btn img {
  margin-bottom: 3px;
}
.plus-btn img {
  margin-top: 2px;
}

button:focus,
input:focus {
  outline:0;
}

/* Total Price */
.total-price {
  width: 83px;
  padding-top: 27px;
  text-align: center;
  font-size: 16px;
  color: var(--black-400);
  font-weight: 300;
}

/* Responsive */
@media (max-width: 800px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .image img {
    width: 50%;
  }
  .image,
  .quantity,
  .description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
  .buttons {
    margin-right: 20px;
  }
}