.loginInput {
    color: #423329; 
    background-color: #f4e9dc; 
    border-radius: 10px;
    width: 100%;
    padding: .25em 0;
  }
  
  .loginSubHeader {
    margin-top: 10px;
    float: left; 
    font-size: 12px; 
    color: #f4e9dc
  }

  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0,.5); /* Fallback color */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    height: 20em;
    width: 90%;
    max-width: 1200px;
    padding: 1em; 
    border-radius: 100px;
    background-color: #423329;
  }

  .modal-input {
    padding: 4em 6em;
  }

  .responsive {
    height: 75%; 
    width: 75%; 
    padding: 2em;
  }

  
  @media only screen and (max-width: 1000px) {
    .responsive {
      height:75%; 
      width:75%;
    }

    .modal-content {
      position: relative;
      margin: auto;
      padding: 0;
      height: 750px;
      width: 90%;
      max-width: 1200px;
      padding: 1em; 
      border-radius: 100px;
      background-color: #423329;
    }
  }

  @media only screen and (max-width: 600px) {
    .modal-input {
      padding: 0em;
    }
  }