html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.registerBackground {
    background-color: #f4e9dc;
    background-attachment: fixed; 
    background-image: linear-gradient(to right, #f4e9dc49 , #423329c0),
                      repeating-linear-gradient(270deg, #D4C8AE26 90%, #073AFF00 100%),
                      repeating-radial-gradient(75% 75% at 238% 218%, #EAD6D612 30%, #C9A88914 39%),
                      radial-gradient(99% 99% at 102% 39%, #402C04FF 1%, #073AFF00 100%),
                      radial-gradient(99% 99% at 91% 55%, #482806FF 0%, #482806FF 50%, #94754E00 100%),
                      radial-gradient(150% 150% at 120% 47%, #482806FF 0%, #94754E00 100%),
                      radial-gradient(160% 154% at 711px -303px, #f4e9dc 0%, #f4e9dc 100%);
}

.registerMainDiv {
    margin: 50px;
    padding: .5em 2.5em;
}

.registerCenterDiv {
    background-color: #423329; 
    border-radius: 50px;
    padding: 2.5em;
}

.registerFormDiv {
    padding: 0 1.5em;
}

.registerInput {
    color: #423329; 
    background-color: #f4e9dc; 
    border-radius: 10px;
    width: 100%;
    padding: .25em 0;
    margin: .5em;
  }