<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shopping Cart</title>

    <!-- CSS FILE LINK --><link rel="stylesheet" type="text/css" href="..\..\assets\css\checkout.css">

  </head>
  <body>

<!-- NAV BAR -->

<!-- END NAV BAR -->

    <!-- PRODUCT LIST START -->
    <div class="shopping-cart">
      <!-- Title -->
      <div class="title">
        Shopping Bag
      </div>

      <!-- Product #1 -->
      <div class="item">
        <div class="buttons">
          <span class="delete-btn"></span>
        </div>

        <div class="image">
          <img src="..\..\assets\img\item-1.png" alt="" />
        </div>

        <div class="description">
          <span>Product Name</span>
          <span>Artist Name</span>
          <span>Product Description</span>
        </div>

        <div class="quantity">
          <button class="plus-btn" type="button" name="button">
            <img src="..\..\assets\img\plus.svg" alt="" />
          </button>
          <input type="text" name="name" value="1">
          <button class="minus-btn" type="button" name="button">
            <img src="..\..\assets\img\minus.svg" alt="" />
          </button>
        </div>

        <div class="total-price">$549</div>
      </div>

      <!-- Product #2 -->
      <div class="item">
        <div class="buttons">
          <span class="delete-btn"></span>
        </div>

        <div class="image">
          <img src="..\..\assets\img\item-2.png" alt=""/>
        </div>

        <div class="description">
          <span>Product Name</span>
          <span>Artist Name</span>
          <span>Product Description</span>
        </div>

        <div class="quantity">
          <button class="plus-btn" type="button" name="button">
            <img src="..\..\assets\img\plus.svg" alt="" />
          </button>
          <input type="text" name="name" value="1">
          <button class="minus-btn" type="button" name="button">
            <img src="..\..\assets\img\minus.svg" alt="" />
          </button>
        </div>

        <div class="total-price">$870</div>
      </div>

      <!-- Product #3 -->
      <div class="item">
        <div class="buttons">
          <span class="delete-btn"></span>
        </div>

        <div class="image">
          <img src="..\..\assets\img\item-3.png" alt="" />
        </div>

        <div class="description">
          <span>Product Name</span>
          <span>Artist Name</span>
          <span>Product Description</span>
        </div>

        <div class="quantity">
          <button class="plus-btn" type="button" name="button">
            <img src="..\..\assets\img\plus.svg" alt="" />
          </button>
          <input type="text" name="name" value="1">
          <button class="minus-btn" type="button" name="button">
            <img src="..\..\assets\img\minus.svg" alt="" />
          </button>
        </div>

        <div class="total-price">$349</div>
      </div>
    </div>
<!-- PRODUCT LIST END -->

<!-- FOOTER START -->

<!-- FOOTER END -->

    <!-- JS FILE LINK -->
    <script src="..\..\assets\js\checkout.js" type="module"></script>

  </body>
</html>