<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="products.css"> 
    <link rel="stylesheet" type="text/css" href="website.css"> 
    <title>DoIndie</title>
    <link rel="icon" type="image/png" href="..\..\assets\img\LOGO.png"> 

    <!-- Swiper Stylesheet -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <style>
        .swiper {
            height: 250px;
        }
        .swiper-button-next,
        .swiper-button-prev {
            color: #2f1a09;
        }
        .swiper-slide img {
            border-radius: 20px;
        }
    </style>
</head>
<body>
    <!-- NAV BAR -->
    <div class="navbar row-list">

        <a class="icon non-selectable"><img class="logo-img" src="..\..\assets\img\LOGO.png" alt="DoIndie Logo"></a>

        <ul class="menu">
            <li><a href="#">HOME</a></li>
            <li><a href="#">PRODUCTS</a>
                <ul>
                    <li><a>Pins</a></li>
                    <li><a>Posters</a></li>
                    <li><a>Stickers</a></li>
                    <li><a>Keychains</a></li>
                    <li><a>Fanart</a></li>
                    <li><a>Commissions</a></li>
                </ul>
            </li>
            <li><a href="#">CART</a></li>
            <li><a href="#">PROFILE</a>
                <ul>
                    <li><a href="#">Edit Profile</a></li>
                    <li><a href="#">Log Out</a></li>
                </ul>
            </li>
        </ul>
        
        <a class="search">
        <input class="navbarSearch" type="search" name="" placeholder="Search...">
        <button class="navbarSearchButton">Search</button>
        </a>
    </div>
        <!-- END NAV BAR -->

        <!-- PRODUCTS SECTION -->
        <div class="col-md-6">
            <h1 style="color: #423329; font-size: 120px; margin-bottom: 15px; text-align:right; margin-right: 0;">Products</h1>
            <div class="products">
                <div class="product-item"><a href="#pins-gallery">Pins</a></div>
                <div class="product-item"><a href="#posters-gallery">Posters</a></div>
                <div class="product-item"><a href="#stickers-gallery">Stickers</a></div>
                <div class="product-item"><a href="#keychains-gallery">Keychains</a></div>
                <div class="product-item"><a href="#commissions-gallery">Commissions</a></div>
                <div class="product-item"><a href="#fan-arts-gallery">Fan Art</a></div>
            </div>
        </div>

 <!-- Pins Section -->
 <div id="pins-gallery" class="gallery-section">
    <h2>Pins</h2>
    <br><br>
    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide"> <a href="pins-item1.html"><img src="..\images\sample.png" width="200" height="200" alt="Pin 1" /></a> </div>
            <div class="swiper-slide"> <a href="pins-item2.html"><img src="..\images\sample.png" width="200" height="200" alt="Pin 2" /></a> </div>
            <div class="swiper-slide"> <a href="pins-item3.html"><img src="..\images\sample.png" width="200" height="200" alt="Pin 3" /></a> </div>
            <div class="swiper-slide"> <a href="pins-item4.html"><img src="..\images\sample.png" width="200" height="200" alt="Pin 4" /></a> </div>
            <div class="swiper-slide"> <a href="pins-item5.html"><img src="..\images\sample.png" width="200" height="200" alt="Pin 5" /></a> </div>
            <div class="swiper-slide"> <a href="pins-item6.html"><img src="..\images\sample.png" width="200" height="200" alt="Pin 6" /></a> </div>
            <div class="swiper-slide"> <a href="pins-item7.html"><img src="..\images\sample.png" width="200" height="200" alt="Pin 7" /></a> </div>
            <div class="swiper-slide"> <a href="pins-item8.html"><img src="..\images\sample.png" width="200" height="200" alt="Pin 8" /></a> </div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>

<!-- Posters Section -->
<div id="posters-gallery" class="gallery-section">
    <h2>Posters</h2>
    <br><br>
    <div class="swiper">
        <div class="swiper-wrapper">
                <div class="swiper-slide"> <a href="posters-item1.html"><img src="..\images\sample.png" width="200" height="200" alt="Poster 1" /></a> </div>
                <div class="swiper-slide"> <a href="posters-item2.html"><img src="..\images\sample.png" width="200" height="200" alt="Poster 2" /></a> </div>
                <div class="swiper-slide"> <a href="posters-item3.html"><img src="..\images\sample.png" width="200" height="200" alt="Poster 3" /></a> </div>
                <div class="swiper-slide"> <a href="posters-item4.html"><img src="..\images\sample.png" width="200" height="200" alt="Poster 4" /></a> </div>
                <div class="swiper-slide"> <a href="posters-item5.html"><img src="..\images\sample.png" width="200" height="200" alt="Poster 5" /></a> </div>
                <div class="swiper-slide"> <a href="posters-item6.html"><img src="..\images\sample.png" width="200" height="200" alt="Poster 6" /></a> </div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>

<!-- Stickers Section -->
<div id="stickers-gallery" class="gallery-section">
    <h2>Stickers</h2>
    <br><br>
    <div class="swiper">
        <div class="swiper-wrapper">
                <div class="swiper-slide"> <a href="stickers-item1.html"><img src="..\images\sample.png" width="200" height="200" alt="Sticker 1" /></a> </div>
                <div class="swiper-slide"> <a href="stickers-item2.html"><img src="..\images\sample.png" width="200" height="200" alt="Sticker 2" /></a> </div>
                <div class="swiper-slide"> <a href="stickers-item3.html"><img src="..\images\sample.png" width="200" height="200" alt="Sticker 3" /></a> </div>
                <div class="swiper-slide"> <a href="stickers-item4.html"><img src="..\images\sample.png" width="200" height="200" alt="Sticker 4" /></a> </div>
                <div class="swiper-slide"> <a href="stickers-item5.html"><img src="..\images\sample.png" width="200" height="200" alt="Sticker 5" /></a> </div>
                <div class="swiper-slide"> <a href="stickers-item6.html"><img src="..\images\sample.png" width="200" height="200" alt="Sticker 6" /></a> </div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>

<!-- Keychains Section -->
<div id="keychains-gallery" class="gallery-section">
    <h2>Keychains</h2>
    <br><br>
    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide"> <a href="keychains-item1.html"><img src="..\images\sample.png" width="200" height="200" alt="Keychain 1" /></a> </div>
            <div class="swiper-slide"> <a href="keychains-item2.html"><img src="..\images\sample.png" width="200" height="200" alt="Keychain 2" /></a> </div>
            <div class="swiper-slide"> <a href="keychains-item3.html"><img src="..\images\sample.png" width="200" height="200" alt="Keychain 3" /></a> </div>
            <div class="swiper-slide"> <a href="keychains-item4.html"><img src="..\images\sample.png" width="200" height="200" alt="Keychain 4" /></a> </div>
            <div class="swiper-slide"> <a href="keychains-item5.html"><img src="..\images\sample.png" width="200" height="200" alt="Keychain 5" /></a> </div>
            <div class="swiper-slide"> <a href="keychains-item6.html"><img src="..\images\sample.png" width="200" height="200" alt="Keychain 6" /></a> </div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>

<!-- Commissions Section -->
<div id="commissions-gallery" class="gallery-section">
    <h2>Commissions</h2>
    <br><br>
    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide"> <a href="commissions-item1.html"><img src="..\images\sample.png" width="200" height="200" alt="Commission 1" /></a> </div>
            <div class="swiper-slide"> <a href="commissions-item2.html"><img src="..\images\sample.png" width="200" height="200" alt="Commission 2" /></a> </div>
            <div class="swiper-slide"> <a href="commissions-item3.html"><img src="..\images\sample.png" width="200" height="200" alt="Commission 3" /></a> </div>
            <div class="swiper-slide"> <a href="commissions-item4.html"><img src="..\images\sample.png" width="200" height="200" alt="Commission 4" /></a> </div>
            <div class="swiper-slide"> <a href="commissions-item5.html"><img src="..\images\sample.png" width="200" height="200" alt="Commission 5" /></a> </div>
            <div class="swiper-slide"> <a href="commissions-item6.html"><img src="..\images\sample.png" width="200" height="200" alt="Commission 6" /></a> </div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>

<!-- Fan Arts Section -->
<div id="fan-arts-gallery" class="gallery-section">
    <h2>Fan Arts</h2>
    <br><br>
    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide"> <a href="fan-art-item1.html"><img src="..\images\sample.png" width="200" height="200" alt="Fan Art 1" /></a> </div>
            <div class="swiper-slide"> <a href="fan-art-item2.html"><img src="..\images\sample.png" width="200" height="200" alt="Fan Art 2" /></a> </div>
            <div class="swiper-slide"> <a href="fan-art-item3.html"><img src="..\images\sample.png" width="200" height="200" alt="Fan Art 3" /></a> </div>
            <div class="swiper-slide"> <a href="fan-art-item4.html"><img src="..\images\sample.png" width="200" height="200" alt="Fan Art 4" /></a> </div>
            <div class="swiper-slide"> <a href="fan-art-item5.html"><img src="..\images\sample.png" width="200" height="200" alt="Fan Art 5" /></a> </div>
            <div class="swiper-slide"> <a href="fan-art-item6.html"><img src="..\images\sample.png" width="200" height="200" alt="Fan Art 6" /></a> </div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>


        <!-- FOOTER -->
        <div class="footer">
            <ul class="row-list center">
                <li><a class="rowItem">Home</a></li>
                <li><a class="rowItem">Products</a></li>
                <li><a class="rowItem">Shopping Cart</a></li>
                <li><a class="rowItem">Profile</a></li>
                <li><a class="rowItem">About Us</a></li>
            </ul>
            <ul class="row-list center">
                <a href="https://www.facebook.com" class="fa fa-facebook" style="font-size: 40px;" target="_blank"></a>
                <a href="https://www.youtube.com" class="fa fa-youtube" style="font-size: 40px;" target="_blank"></a>
                <a href="https://www.twitter.com" class="fa fa-twitter" style="font-size: 40px;" target="_blank"></a>
                <a href="https://www.instagram.com" class="fa fa-instagram" style="font-size: 40px;" target="_blank"></a>
                <a href="https://www.tumblr.com" class="fa fa-tumblr" style="font-size: 40px;" target="_blank"></a>
            </ul>
            <p style="color: #f4e9dc">&copy; 2024 DoIndie. All rights reserved.</p>
        </div>
    </div>

    <!-- Swiper JS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- External JS File -->
    <script src="products.js"></script>
</body>
</html>