<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="..\..\assets\css\website.css">
    <link rel="stylesheet" type="text/css" href="..\..\assets\css\products.css"> 
    <title>DoIndie</title>
    <link rel="icon" type="image/png" href="..\..\assets\img\LOGO.png"> 

    <!-- Swiper Stylesheet -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .swiper {
            height: 250px;
        }
        .swiper-button-next,
        .swiper-button-prev {
            color: #2f1a09;
        }
        .swiper-slide img {
            border-radius: 20px;
        }
    </style>
</head>
<body style="background-repeat: no-repeat center center fixed;">
    <!-- NAV BAR --> 
    <div class="navbar row-list">
        <a class="icon non-selectable"><img class="logo-img" src="..\..\assets\img\LOGO.png" alt="DoIndie Logo"></a>
        <ul class="menu">
            <li><a href="#">HOME</a></li>
            <li><a href="#">PRODUCTS</a>
                <ul>
                    <li><a>Pins</a></li>
                    <li><a>Posters</a></li>
                    <li><a>Stickers</a></li>
                    <li><a>Keychains</a></li>
                    <li><a>Fanart</a></li>
                    <li><a>Commissions</a></li>
                </ul>
            </li>
            <li><a class="cart-link" href="#">CART</a></li>
            <li><a href="#">PROFILE</a>
                <ul>
                    <li><a href="#">Edit Profile</a></li>
                    <li><a href="#">Log Out</a></li>
                </ul>
            </li>
        </ul>
        <a class="search">
        <input class="navbarSearch" type="search" name="" placeholder="Search...">
        <button class="navbarSearchButton">Search</button>
        </a>
    </div>
    <!-- END NAV BAR -->

    <!-- PRODUCTS SECTION -->
    <div class="col-md-6">
        <h1 style="color: #423329; font-size: 120px; margin-bottom: 15px; text-align:right; margin-right: 0;">Products</h1>
        <div class="products">
            <div class="product-item"><a href="#pins-gallery">Pins</a></div>
            <div class="product-item"><a href="#posters-gallery">Posters</a></div>
            <div class="product-item"><a href="#stickers-gallery">Stickers</a></div>
            <div class="product-item"><a href="#keychains-gallery">Keychains</a></div>
            <div class="product-item"><a href="#commissions-gallery">Commissions</a></div>
            <div class="product-item"><a href="#fan-arts-gallery">Fan Art</a></div>
        </div>
    </div>

    <!-- Pins Section -->
    <div id="pins-gallery" class="gallery-section">
        <h2>Pins</h2>
        <br><br>
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide product"> <a href="pins-item1.html"><img src="..\..\assets\img\sample.png" width="200" height="200" alt="Pin 1" /></a> <a href="#" class="add-to-cart" data-id="pin1" data-name="Pin 1" data-price="10.00"><i class="fa fa-plus"></i></a></div>
                <div class="swiper-slide product"> <a href="pins-item2.html"><img src="..\..\assets\img\sample.png" width="200" height="200" alt="Pin 2" /></a> <a href="#" class="add-to-cart" data-id="pin2" data-name="Pin 2" data-price="20.00"><i class="fa fa-plus"></i></a></div>
                <div class="swiper-slide product"> <a href="pins-item3.html"><img src="..\..\assets\img\sample.png" width="200" height="200" alt="Pin 3" /></a> <a href="#" class="add-to-cart" data-id="pin3" data-name="Pin 3" data-price="30.00"><i class="fa fa-plus"></i></a></div>
                <div class="swiper-slide product"> <a href="pins-item4.html"><img src="..\..\assets\img\sample.png" width="200" height="200" alt="Pin 4" /></a> <a href="#" class="add-to-cart" data-id="pin4" data-name="Pin 4" data-price="40.00"><i class="fa fa-plus"></i></a></div>
                <div class="swiper-slide product"> <a href="pins-item5.html"><img src="..\..\assets\img\sample.png" width="200" height="200" alt="Pin 5" /></a> <a href="#" class="add-to-cart" data-id="pin5" data-name="Pin 5" data-price="50.00"><i class="fa fa-plus"></i></a></div>
                <div class="swiper-slide product"> <a href="pins-item6.html"><img src="..\..\assets\img\sample.png" width="200" height="200" alt="Pin 6" /></a> <a href="#" class="add-to-cart" data-id="pin6" data-name="Pin 6" data-price="60.00"><i class="fa fa-plus"></i></a></div>
                <div class="swiper-slide product"> <a href="pins-item7.html"><img src="..\..\assets\img\sample.png" width="200" height="200" alt="Pin 7" /></a> <a href="#" class="add-to-cart" data-id="pin7" data-name="Pin 7" data-price="70.00"><i class="fa fa-plus"></i></a></div>
                <div class="swiper-slide product"> <a href="pins-item8.html"><img src="..\..\assets\img\sample.png" width="200" height="200" alt="Pin 8" /></a> <a href="#" class="add-to-cart" data-id="pin8" data-name="Pin 8" data-price="80.00"><i class="fa fa-plus"></i></a></div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>

    <!-- Posters Section -->
    <div id="posters-gallery" class="gallery-section">
        <h2>Posters</h2>
        <br><br>
        <div class="swiper">
            <div class="swiper-wrapper">
                    <div class="swiper-slide"> <a href="posters-item1.html"><img src="..\..\assets\img\sample.png" width="200" height="200" alt="Poster 1" /></a> <a href="#" class="add-to-cart" data-id="poster1" data-name="Poster 1" data-price="10.00"><i class="fa fa-plus"></i></a></div>
                    <div class="swiper-slide"> <a href="posters-item2.html"><img src="..\..\assets\img\sample.png" width="200" height="200" alt="Poster 2" /></a> <a href="#" class="add-to-cart" data-id="poster2" data-name="Poster 2" data-price="20.00"><i class="fa fa-plus"></i></a></div>
                    <div class="swiper-slide"> <a href="posters-item3.html"><img src="..\..\assets\img\sample.png" width="200" height="200" alt="Poster 3" /></a> <a href="#" class="add-to-cart" data-id="poster3" data-name="Poster 3" data-price="30.00"><i class="fa fa-plus"></i></a></div>
                    <div class="swiper-slide"> <a href="posters-item4.html"><img src="..\..\assets\img\sample.png" width="200" height="200" alt="Poster 4" /></a> <a href="#" class="add-to-cart" data-id="poster4" data-name="Poster 4" data-price="40.00"><i class="fa fa-plus"></i></a></div>
                    <div class="swiper-slide"> <a href="posters-item5.html"><img src="..\..\assets\img\sample.png" width="200" height="200" alt="Poster 5" /></a> <a href="#" class="add-to-cart" data-id="poster5" data-name="Poster 5" data-price="50.00"><i class="fa fa-plus"></i></a></div>
                    <div class="swiper-slide"> <a href="posters-item6.html"><img src="..\..\assets\img\sample.png" width="200" height="200" alt="Poster 6" /></a> <a href="#" class="add-to-cart" data-id="poster6" data-name="Poster 6" data-price="60.00"><i class="fa fa-plus"></i></a></div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>

    <!-- Stickers Section -->
    <div id="stickers-gallery" class="gallery-section">
        <h2>Stickers</h2>
        <br><br>
        <div class="swiper">
            <div class="swiper-wrapper">
                    <div class="swiper-slide"> <a href="stickers-item1.html"><img src="..\..\assets\img\sample.png" width="200" height="200" alt="Sticker 1" /></a> <a href="#" class="add-to-cart" data-id="sticker1" data-name="Sticker 1" data-price="10.00"><i class="fa fa-plus"></i></a></div>
                    <div class="swiper-slide"> <a href="stickers-item2.html"><img src="..\..\assets\img\sample.png" width="200" height="200" alt="Sticker 2" /></a> <a href="#" class="add-to-cart" data-id="sticker2" data-name="Sticker 2" data-price="10.00"><i class="fa fa-plus"></i></a></div>
                    <div class="swiper-slide"> <a href="stickers-item3.html"><img src="..\..\assets\img\sample.png" width="200" height="200" alt="Sticker 3" /></a> <a href="#" class="add-to-cart" data-id="sticker3" data-name="Sticker 3" data-price="10.00"><i class="fa fa-plus"></i></a></div>
                    <div class="swiper-slide"> <a href="stickers-item4.html"><img src="..\..\assets\img\sample.png" width="200" height="200" alt="Sticker 4" /></a> <a href="#" class="add-to-cart" data-id="sticker4" data-name="Sticker 4" data-price="10.00"><i class="fa fa-plus"></i></a></div>
                    <div class="swiper-slide"> <a href="stickers-item5.html"><img src="..\..\assets\img\sample.png" width="200" height="200" alt="Sticker 5" /></a> <a href="#" class="add-to-cart" data-id="sticker5" data-name="Sticker 5" data-price="10.00"><i class="fa fa-plus"></i></a></div>
                    <div class="swiper-slide"> <a href="stickers-item6.html"><img src="..\..\assets\img\sample.png" width="200" height="200" alt="Sticker 6" /></a> <a href="#" class="add-to-cart" data-id="sticker6" data-name="Sticker 6" data-price="10.00"><i class="fa fa-plus"></i></a></div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>

    <!-- Keychains Section -->
    <div id="keychains-gallery" class="gallery-section">
        <h2>Keychains</h2>
        <br><br>
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide"> <a href="keychains-item1.html"><img src="..\..\assets\img\sample.png" width="200" height="200" alt="Keychain 1" /></a> <a href="#" class="add-to-cart" data-id="keychain1" data-name="Keychain 1" data-price="10.00"><i class="fa fa-plus"></i></a></div>
                <div class="swiper-slide"> <a href="keychains-item2.html"><img src="..\..\assets\img\sample.png" width="200" height="200" alt="Keychain 2" /></a> <a href="#" class="add-to-cart" data-id="keychain2" data-name="Keychain 2" data-price="10.00"><i class="fa fa-plus"></i></a></div>
                <div class="swiper-slide"> <a href="keychains-item3.html"><img src="..\..\assets\img\sample.png" width="200" height="200" alt="Keychain 3" /></a> <a href="#" class="add-to-cart" data-id="keychain3" data-name="Keychain 3" data-price="10.00"><i class="fa fa-plus"></i></a></div>
                <div class="swiper-slide"> <a href="keychains-item4.html"><img src="..\..\assets\img\sample.png" width="200" height="200" alt="Keychain 4" /></a> <a href="#" class="add-to-cart" data-id="keychain4" data-name="Keychain 4" data-price="10.00"><i class="fa fa-plus"></i></a></div>
                <div class="swiper-slide"> <a href="keychains-item5.html"><img src="..\..\assets\img\sample.png" width="200" height="200" alt="Keychain 5" /></a> <a href="#" class="add-to-cart" data-id="keychain5" data-name="Keychain 5" data-price="10.00"><i class="fa fa-plus"></i></a></div>
                <div class="swiper-slide"> <a href="keychains-item6.html"><img src="..\..\assets\img\sample.png" width="200" height="200" alt="Keychain 6" /></a> <a href="#" class="add-to-cart" data-id="keychain6" data-name="Keychain 6" data-price="10.00"><i class="fa fa-plus"></i></a></div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>

    <!-- Commissions Section -->
    <div id="commissions-gallery" class="gallery-section">
        <h2>Commissions</h2>
        <br><br>
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide"> <a href="commissions-item1.html"><img src="..\..\assets\img\sample.png" width="200" height="200" alt="Commission 1" /></a> <a href="#" class="add-to-cart" data-id="commision1" data-name="Commission 1" data-price="10.00"><i class="fa fa-plus"></i></a></div>
                <div class="swiper-slide"> <a href="commissions-item2.html"><img src="..\..\assets\img\sample.png" width="200" height="200" alt="Commission 2" /></a> <a href="#" class="add-to-cart" data-id="commision2" data-name="Commission 2" data-price="20.00"><i class="fa fa-plus"></i></a></div>
                <div class="swiper-slide"> <a href="commissions-item3.html"><img src="..\..\assets\img\sample.png" width="200" height="200" alt="Commission 3" /></a> <a href="#" class="add-to-cart" data-id="commision3" data-name="Commission 3" data-price="30.00"><i class="fa fa-plus"></i></a></div>
                <div class="swiper-slide"> <a href="commissions-item4.html"><img src="..\..\assets\img\sample.png" width="200" height="200" alt="Commission 4" /></a> <a href="#" class="add-to-cart" data-id="commision4" data-name="Commission 4" data-price="40.00"><i class="fa fa-plus"></i></a></div>
                <div class="swiper-slide"> <a href="commissions-item5.html"><img src="..\..\assets\img\sample.png" width="200" height="200" alt="Commission 5" /></a> <a href="#" class="add-to-cart" data-id="commision5" data-name="Commission 5" data-price="50.00"><i class="fa fa-plus"></i></a></div>
                <div class="swiper-slide"> <a href="commissions-item6.html"><img src="..\..\assets\img\sample.png" width="200" height="200" alt="Commission 6" /></a> <a href="#" class="add-to-cart" data-id="commision6" data-name="Commission 6" data-price="60.00"><i class="fa fa-plus"></i></a></div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>

    <!-- Fan Arts Section -->
    <div id="fan-arts-gallery" class="gallery-section">
        <h2>Fan Arts</h2>
        <br><br>
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide"> <a href="fan-art-item1.html"><img src="..\..\assets\img\sample.png" width="200" height="200" alt="Fan Art 1" /></a> <a href="#" class="add-to-cart" data-id="fanart1" data-name="Fan Art 1" data-price="10.00"><i class="fa fa-plus"></i></a></div>
                <div class="swiper-slide"> <a href="fan-art-item2.html"><img src="..\..\assets\img\sample.png" width="200" height="200" alt="Fan Art 2" /></a> <a href="#" class="add-to-cart" data-id="fanart2" data-name="Fan Art 2" data-price="20.00"><i class="fa fa-plus"></i></a></div>
                <div class="swiper-slide"> <a href="fan-art-item3.html"><img src="..\..\assets\img\sample.png" width="200" height="200" alt="Fan Art 3" /></a> <a href="#" class="add-to-cart" data-id="fanart3" data-name="Fan Art 3" data-price="30.00"><i class="fa fa-plus"></i></a></div>
                <div class="swiper-slide"> <a href="fan-art-item4.html"><img src="..\..\assets\img\sample.png" width="200" height="200" alt="Fan Art 4" /></a> <a href="#" class="add-to-cart" data-id="fanart4" data-name="Fan Art 4" data-price="40.00"><i class="fa fa-plus"></i></a></div>
                <div class="swiper-slide"> <a href="fan-art-item5.html"><img src="..\..\assets\img\sample.png" width="200" height="200" alt="Fan Art 5" /></a> <a href="#" class="add-to-cart" data-id="fanart5" data-name="Fan Art 5" data-price="50.00"><i class="fa fa-plus"></i></a></div>
                <div class="swiper-slide"> <a href="fan-art-item6.html"><img src="..\..\assets\img\sample.png" width="200" height="200" alt="Fan Art 6" /></a> <a href="#" class="add-to-cart" data-id="fanart6" data-name="Fan Art 6" data-price="60.00"><i class="fa fa-plus"></i></a></div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>

    <!-- CART PORTION -->
    <div class="cart-sidebar" id="cart-sidebar">
        <h2>Cart</h2>
        <div id="cart-items">
            <!-- Cart items will be dynamically added here -->
        </div>
        <p id="total-price">Total: $0.00</p>
        <a href="checkout.html" class="checkout-button">Checkout</a>
    </div>
    <!-- END CART PORTION -->

    <!-- FOOTER -->
    <div class="footer">
        <ul class="row-list center">
            <li><a class="rowItem">Home</a></li>
            <li><a class="rowItem">Products</a></li>
            <li><a class="rowItem">Shopping Cart</a></li>
            <li><a class="rowItem">Profile</a></li>
            <li><a class="rowItem">About Us</a></li>
        </ul>
        <ul class="row-list center">
            <a href="https://www.facebook.com" class="fa fa-facebook" style="font-size: 40px;" target="_blank"></a>
            <a href="https://www.youtube.com" class="fa fa-youtube" style="font-size: 40px;" target="_blank"></a>
            <a href="https://www.twitter.com" class="fa fa-twitter" style="font-size: 40px;" target="_blank"></a>
            <a href="https://www.instagram.com" class="fa fa-instagram" style="font-size: 40px;" target="_blank"></a>
            <a href="https://www.tumblr.com" class="fa fa-tumblr" style="font-size: 40px;" target="_blank"></a>
        </ul>
        <p style="color: #f4e9dc">&copy; 2024 DoIndie. All rights reserved.</p>
    </div>

    <!-- Swiper JS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <!-- External JS File -->
    <script src="..\..\assets\js\products.js"></script>

    <script>
        // Initialize cart
        let cart = [];

        // Function to render cart items
        function renderCart() {
            const cartContainer = document.getElementById("cart-items");
            const cartSidebar = document.getElementById("cart-sidebar");
            cartContainer.innerHTML = ""; // Clear existing items

            let totalPrice = 0;

            if (cart.length > 0) {
                cartSidebar.classList.add("active"); // Show cart
            } else {
                cartSidebar.classList.remove("active"); // Hide cart
            }

            // Render each item in the cart
            cart.forEach(item => {
                const cartItem = document.createElement("div");
                cartItem.classList.add("cart-item");
                cartItem.innerHTML = `
                    <p>${item.name} (${item.quantity})</p>
                    <p>$${(item.price * item.quantity).toFixed(2)}</p>
                    <span class="remove-item" data-id="${item.id}">Remove</span>
                `;
                cartContainer.appendChild(cartItem);

                totalPrice += item.price * item.quantity;
            });

            // Update total price
            document.getElementById("total-price").textContent = `Total: $${totalPrice.toFixed(2)}`;

            // Add event listeners to remove buttons
            document.querySelectorAll(".remove-item").forEach(button => {
                button.addEventListener("click", function () {
                    const productId = this.getAttribute("data-id");
                    cart = cart.filter(item => item.id !== productId);
                    renderCart();
                });
            });
        }

        // Add event listeners to "Add to Cart" buttons
        document.querySelectorAll(".add-to-cart").forEach(button => {
            button.addEventListener("click", function (e) {
                e.preventDefault();

                // Extract product details from data attributes
                const productId = this.getAttribute("data-id");
                const productName = this.getAttribute("data-name");
                const productPrice = parseFloat(this.getAttribute("data-price"));

                // Check if item is already in the cart
                const existingItem = cart.find(item => item.id === productId);

                if (existingItem) {
                    existingItem.quantity += 1;
                } else {
                    cart.push({
                        id: productId,
                        name: productName,
                        price: productPrice,
                        quantity: 1
                    });
                }

                renderCart(); // Update the cart display
            });
        });

        // Initial render of cart
        renderCart();
    </script>
</body>
</html>