<!DOCTYPE html>
<html lang="en">
    <head>
        <title>DoIndie</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="../../assets/css/website.css">
    </head>

    <body>
        <div>
            <h1>Font Test</h1>
            <h1>Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qq Rr Ss Tt Uu Vv Ww Xx Yy Zz</h1>
        </div> <br>
        
        <div style="background-color: #423329;">
            <button class="inputButtonV1" onclick="">Button Test</button>
        </div> <br>

        <div>
        <button class="inputButtonV2" onclick="">Button Test</button>
        </div> <br>

        <div style="background-color: #423329;">
            <a class="inputButtonV1" href="LoginModal.html">Back</a>
        </div>
    </body>
</html>