<!DOCTYPE html>
<html lang="en">
    <head>
        <title>DoIndie</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="../../assets/css/website.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
        <!-- NAVBAR -->
        <div class="navbar row-list">

            <a class="icon non-selectable"><img class="logo-img" src="..\..\assets\img\LOGO.png" alt="DoIndie Logo"></a>
    
            <ul class="menu">
                <li><a href="#">HOME</a></li>
                <li><a href="#">PRODUCTS</a>
                    <ul>
                        <li><a>Pins</a></li>
                        <li><a>Posters</a></li>
                        <li><a>Stickers</a></li>
                        <li><a>Keychains</a></li>
                        <li><a>Fanart</a></li>
                        <li><a>Commissions</a></li>
                    </ul>
                </li>
                <li><a href="#">CART</a></li>
                <li><a href="#">PROFILE</a>
                    <ul>
                        <li><a href="#">Edit Profile</a></li>
                        <li><a href="#">Log Out</a></li>
                    </ul>
                </li>
            </ul>
            
            <a class="search">
            <input class="navbarSearch" type="search" name="" placeholder="Search...">
            <button class="navbarSearchButton">Search</button>
            </a>
        </div>

        <!-- UI TEST -->
        <div>
            <h1>Font Test</h1>
            <h1>Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qq Rr Ss Tt Uu Vv Ww Xx Yy Zz</h1>
        </div> <br>
        
        <div style="background-color: #423329;">
            <button class="inputButtonV1" onclick="">Button Test</button>
        </div> <br>

        <div>
        <button class="inputButtonV2" onclick="">Button Test</button>
        </div> <br>

        <div style="background-color: #d4c5ba; height: 1000px">
            <a class="inputButtonV1" href="LoginModal.html">Back</a>
        </div>

        <!-- FOOTER -->
        <div class="footer">
            <ul class="row-list center">
                <li><a class="rowItem">Home</a></li>
                <li><a class="rowItem">Products</a></li>
                <li><a class="rowItem">Shopping Cart</a></li>
                <li><a class="rowItem">Profile</a></li>
                <li><a class="rowItem">About Us</a></li>
            </ul>
            <ul class="row-list center">
                <a href="https://www.facebook.com" class="fa fa-facebook" style="font-size: 40px;" target="_blank"></a>
                <a href="https://www.youtube.com" class="fa fa-youtube" style="font-size: 40px;" target="_blank"></a>
                <a href="https://www.twitter.com" class="fa fa-twitter" style="font-size: 40px;" target="_blank"></a>
                <a href="https://www.instagram.com" class="fa fa-instagram" style="font-size: 40px;" target="_blank"></a>
                <a href="https://www.tumblr.com" class="fa fa-tumblr" style="font-size: 40px;" target="_blank"></a>
            </ul>
            <p style="color: #f4e9dc">&copy; 2024 DoIndie. All rights reserved.</p>
        </div>
    </body>
</html>